{% extends "base.html.twig" %}

{% block title %}
    Contact
{% endblock %}

{% block container %}
    <div class="container">
        <h1>Send an Email</h1>

        {{ form_start(email_form) }}
            {{ form_row(email_form.recipient) }}
            {{ form_row(email_form.subject) }}
            {{ form_row(email_form.message) }}
            {{ form_row(email_form.send) }}
        {{ form_end(email_form) }}

        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success mt-3">
                {{ app.session.flashBag.get('success')[0] }}
            </div>
        {% endif %}
    </div>
{% endblock %}